<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<h1>Listando Clientes</h1>


<table>
  <thead>
    <tr>
     <td>Nome</td>
     <td>Email</td>
     <td>Smoker</td>
     <td>Phone</td>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.name %></td>
      <td><%= customer.email %></td>
      <td><%= customer.smoker %></td>
      <td><%= customer.phone %></td>
    </tr>
  </tbody>
  <% end %>
</table>

<ul>
  <li>
    <%= link_to "Novo Cliente", new_customer_path %>
  </li>
</ul>